header {
    display: flex;
}
header a#logo{
    margin-right: 50px;
}
header a img.logo{
    width: 100px;
}

header a{
    margin: auto 0px;
    width: 80px;
}
header div.header-links{
    display: flex;
    width: 90vw;
    justify-content: right;
    

}
header p{
    display: inline;
}
header div{
    display: flex;
    width: 70vw;
    justify-content: center;
}
header input[type="text"]{
    border-radius: 20px 0px 0px 20px;
    height: 20px;
    margin: auto 0;
    padding: 10px;
}
header input[type="button"]{
    border-radius: 0px 20px 20px 0px;
    height: 44px;
    width: 100px;
    margin: auto 0;
    font-size: 30px;
    margin-right: 50px;
}
header div.header-links a{
    width: fit-content;
    margin: 20px;
}

@media only screen and (max-width: 320px){
    header {
        margin-bottom: 40px;
    }
    header a#logo{
        margin-right: 10px;
    }
    header a img.logo{
        width: 64px;
    }
    header div input[type="text"]{
        height: 8px;
        width: 64px;
    }
    header div input[type="button"]{
        height: 32px;
        width: 43px;
        font-size: 17px;
    }
    header div.header-links{
        position: absolute;
        left: 0px;
        top: 30px;
    }
}