.margin-h-auto{
    margin: 0px auto;
}
.fit-content-w{
    width: fit-content;
}
.vw-50{
    width: 50vw;
}
.fit-content-h{
    height: fit-content;
}
.user-banner{
    border-radius: 20px;
    border: 1px solid black;
    box-shadow: 0px 0px 5px black;
    margin-bottom: 10px;
}
.user-banner .pfp{
    height: fit-content;
    display: inline;
}
.user-banner .pfp img{
    width: 32px;
    height: 32px;   
    display: inline;
    border-radius: 50%;
    margin: 10px 0px 0px 10px;
}
.user-banner .username{
    display: inline;
    font-size: 32px;
    margin-left: 16px;
}

@media only screen and (min-width: 321px) and (max-width: 481px){
    div.load-content{
        width: 100%;
    }
}