.margin-h-auto{
    margin: 0px auto;
}
.fit-content-w{
    width: fit-content;
}
.vw-50{
    width: 50vw;
}
.fit-content-h{
    height: fit-content;
}

@media only screen and (min-width: 321px) and (max-width: 481px){
    div.load-content{
        width: 100%;
    }
}